
.td {
    padding: 0px,0px,0px,0px;
}

.box_highlight{
    box-shadow: 0px 0px 5px rgb(134, 134, 134) inset;
}

.section_title_main
{
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0px 0px 0px rgb(22, 74, 95);
    pointer-events:none;
}
.section_title_inner_duel
{
    position: relative;
    /* padding-top: 10px; */
    padding-bottom: 5px;
    padding-left: 8px;
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 136, 56);
    text-shadow: 0px 0px 0px rgb(107, 50, 23);
    pointer-events:none;
}
.section_title_inner_arena
{
    position: relative;
    /* padding-top: 10px; */
    padding-bottom: 5px;
    padding-left: 8px;
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 65, 65);
    text-shadow: 0px 0px 0px rgb(255, 99, 151);
    pointer-events:none;
}
.section_title_inner_wadiya
{
    position: relative;
    /* padding-top: 10px; */
    padding-bottom: 5px;
    padding-left: 8px;
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(122, 108, 245);
    text-shadow: 0px 0px 0px rgb(77, 161, 240);
    pointer-events:none;
}